body {
	background-color: #6C534E;
	color: #2C1A1D;
	font-family: "Source Serif 4", serif;
	text-align: center;
}

button {
	margin: 5px;
}

.container {
	background-color: #DBB3B1;
	border-radius: 7px;
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.57);
	padding: 30px;
	margin: 50px;
	justify-content: center;
}

a {
	text-decoloration: none;
	text-decoration:none;
	color:  #2C1A1D;
}

.footer {
	padding: 25px;
	background-color:#DBB3B1;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}